[include fluidd.cfg]
#[include fluidd.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[respond]

[include config_backup.cfg]
[skew_correction]

[exclude_object]

[save_variables]
filename:  ~/variables.cfg

[gcode_arcs]
resolution: 0.2

[rounded_path]
resolution: 0.2
replace_g0: True

[include mcu.cfg]
[include KAMP/Adaptive_Meshing.cfg]
[include KAMP/Line_Purge.cfg]] 
[include mainsail.cfg]
#[include leds.cfg]

[include tool_detection.cfg]
[include toolchanger.cfg]

[include tool0.cfg]
[include tool1.cfg]

[include homing.cfg]
[include calibrate-offsets.cfg]
[include macros.cfg]

[printer]
kinematics: corexy
max_velocity: 600
max_accel: 5000
max_z_velocity: 250
max_z_accel: 1000

[force_move]
enable_force_move: True


[quad_gantry_level]
gantry_corners:
	-60,-10
	410,420
points:
	50,65
	50,300
	300,300
	300,65

speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


[bed_mesh]
speed: 150
horizontal_move_z: 10
mesh_min: 20, 20
mesh_max: 320, 320
probe_count: 3,3

[exclude_object]

#####################################################################
# 	Chamber Lights
#####################################################################

[output_pin daylight]
pin: PB0
#pwm: True
#cycle_time: 0.01
VALUE=0.50


[input_shaper]
shaper_freq_x: 65.8
shaper_type_x: zv
shaper_freq_y: 47.4
shaper_type_y: mzv

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 175.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 300.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 2.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : 175.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : 300.0  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
gcode:

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.902500, -0.065000, -0.170000
#*# 	  -0.013750, -0.012500, -0.012500
#*# 	  0.008750, -0.036250, -0.048750
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 320.0
#*# min_y = 20.0
#*# max_y = 320.0
#*#
#*# [skew_correction Califlower]
#*# xy_skew = 0.008721541303356978
#*# xz_skew = 0.0
#*# yz_skew = 0.0
